$responsive-config: () !default;
$responsive-config-parent: () !default;
$responsive-config-handlers: (
    responsive-handle-layout,
    responsive-handle-media-query,
) !default;
$responsive-abstract-configurations: () !default;
$responsive-default-id: null !default;
$responsive-current-id: null !default;
$responsive-get-original-id: null !default;
$responsive-get-nesting-level: 0 !default;
$responsive-get-key-prefix: null !default;
$responsive-get-default-key: null !default;
$responsive-cache-get: () !default;
$responsive-cache-layout: () !default;
$responsive-cache-media-query: () !default;
$responsive-is-initialized: false !default;
$responsive-test-key: '---responsive-test-key---' !default;

// Add responsive configuration handler
//
// @param string $handler   Handler function name. It should accept (map $config, string $id) arguments and return responsive configuration map
@mixin responsive-add-handler($handler) {
    @if (not function-exists($handler)) {
        @error 'Unavailable responsive configuration handler: #{$handler}';
    }
    $responsive-config-handlers: append($responsive-config-handlers, $handler) !global;
}

// Remove responsive configuration handler
//
// @param string $handler   Handler function name to remove
@mixin responsive-remove-handler($handler) {
    $handlers: ();
    @each $h in $responsive-config-handlers {
        @if ($h != $handler) {
            $handlers: append($handlers, $h);
        }
    }
    $responsive-config-handlers: $handlers !global;
}

// Register responsive configuration
//
// @param string $id        Responsive configuration id
// @param string $parent    Parent responsive configuration id (can be skipped)
// @param map $config       Responsive configuration
// @param boolean $abstract Mark this responsive configuration as abstract, it will not be used into r-each() iteration
// @param boolean $default  Mark this responsive configuration as default
@mixin r-config($id, $parent: null, $config: null, $abstract: false, $default: false) {
    @if (type-of($parent) == map) {
        $default: $abstract;
        $abstract: $config;
        $config: $parent;
        $parent: null;
    }
    @if (type-of($id) != string) {
        @error 'Responsive configuration id should be string';
    }
    @if (type-of($config) != map) {
        @error 'Responsive configuration should be defined as a map';
    }
    @if ($parent != null) {
        @if ($default and not index($responsive-abstract-configurations, $parent)) {
            @error 'Default responsive configuration can\'t have non-abstract parent configuration';
        } @else if (map-has-key($responsive-config, $parent)) {
            $responsive-config-parent: map-merge($responsive-config-parent, ($id: $parent)) !global;
        } @else {
            @error 'Unknown parent responsive configuration id "#{$parent}" is given for responsive configuration "#{$id}"';
        }
    }
    // Current configuration is stored into responsive configurations storage to let handlers to process it using r-has/r-get
    $responsive-config: map-merge($responsive-config, ($id: $config)) !global;
    @if ($abstract) {
        $responsive-abstract-configurations: append($responsive-abstract-configurations, $id) !global;
    }
    @if ($default) {
        @if ($responsive-default-id != null) {
            @warn 'Default responsive configuration is already chosen for "#{$responsive-default-id}", selected again for "#{$id}"';
        } @else {
            $responsive-default-id: $id !global;
        }
    }
}

// Get normalized value of given responsive configuration id
//
// @param string|boolean|null $id   Responsive configuration id, one of:
//                                  - string - responsive configuration id to check for validity and return
//                                  - null or true - get current responsive configuration id if it is available,
//                                    fallback to default responsive configuration id if there is no explicit current configuration
//                                  - false - get current responsive configuration id if it is available,
//                                    return null if there is no explicit current configuration
// @return string|null
// noinspection CssInvalidFunction
@function r-id($id: null) {
    @if (type-of($id) == string) {
        @if (r-has-config($id)) {
            @return $id;
        } @else {
            @return null;
        }
    } @else if ($id == null or $id == true or $id == false) {
        @if ($responsive-current-id != null) {
            @return $responsive-current-id;
        } @else if ($id == false) {
            @return null;
        } @else {
            @return $responsive-default-id;
        }
    } @else {
        @error 'Unvalid type of responsive configuration id: #{type-of($id)}';
        @return null;
    }
}

// Determine if there is parent responsive configuration id for given id
//
// @param string|boolean|null $id   Responsive configuration id, @see r-id()
// @return boolean
@function r-has-parent-id($id) {
    $id: r-id($id);
    @return map-has-key($responsive-config-parent, $id);
}

// Get id of parent responsive configuration id for given id
//
// @param string|boolean|null $id   Responsive configuration id, @see r-id()
// @return string|null
@function r-get-parent-id($id) {
    @if (r-has-parent-id($id)) {
        @return map-get($responsive-config-parent, r-id($id));
    } @else {
        @return null;
    }
}

// Get list of available responsive configuration ids
//
// @return list
@function r-get-ids() {
    @return map-keys($responsive-config);
}

// Check if there is responsive configuration with given id
//
// @param string $id            Responsive configuration id to check
// @return boolean
@function r-has-config($id) {
    @return map-has-key($responsive-config, $id);
}

// Get responsive configuration for given (or current or default) responsive configuration
//
// @param string|boolean|null $id   Responsive configuration id (@see r-id())
// @return map
@function r-get-config($id: null) {
    $id: r-id($id);
    @if ($id == null) {
        @error 'No responsive configuration id is given and no current configuration is available';
        @return ();
    } @else if (not r-has-config($id)) {
        @error 'Unknown responsive configuration id: #{$id}';
        @return ();
    }
    @return map-get($responsive-config, $id);
}

// Get configuration value from responsive config
//
// @param string $key               Configuration key name, multiple level keys are defined as a/b/c
// @param mixed $default            Default value for given configuration key (can be skipped)
// @param string|boolean|null $id   Responsive configuration id (@see r-id())
// @return mixed
// noinspection CssInvalidFunction
@function r-get($key: null, $default: null, $id: null) {
    @if ($id == null) {
        @if (r-has-config($default)) {
            $id: $default;
            $default: null;
        }
    }
    @if ($responsive-get-nesting-level == 0) {
        @if ($key == null) {
            @if ($responsive-get-default-key != null) {
                $key: $responsive-get-default-key;
            } @else {
                @warn 'r-get() allows skipping key definition only inside r-each() with $if-key set';
                @return null;
            }
        }
        @if ($responsive-get-key-prefix != null) {
            @if (str-slice($key, 1, 1) != '/') {
                $key: $responsive-get-key-prefix + '/' + $key;
            }
        }
        @if (str-slice($key, 1, 1) == '/') {
            $key: str-slice($key, 2);
        }
        $responsive-get-original-id: $id !global;
        @if (r-has-config($id)) {
            $cid: r-id($id);
            $cache-type: 'get';
            @if ($default == $responsive-test-key) {
                $cache-type: 'has';
            }
            $cache-key: inspect(($cache-type $cid $key));
            @if (map-has-key($responsive-cache-get, $cache-key)) {
                @return map-get($responsive-cache-get, $cache-key);
            }
        }
        $responsive-get-original-id: $id !global;
    }
    $responsive-get-nesting-level: ($responsive-get-nesting-level + 1) !global;
    $id: r-id($id);
    $full-key: $key;
    $result: $default;
    @if (r-has-config($id)) {
        $r-cfg: r-get-config($id);
        $parts: ();
        @while str-index($key, '/') != null {
            $parts: append($parts, str-slice($key, 1, str-index($key, '/') - 1));
            $key: str-slice($key, str-index($key, '/') + 1);
        }
        $parts: append($parts, $key);
        $error: false;
        @each $p in $parts {
            @if (not $error) {
                @if (type-of($r-cfg) == map) {
                    @if (map-has-key($r-cfg, $p)) {
                        $result: map-get($r-cfg, $p);
                        $r-cfg: map-get($r-cfg, $p);
                    } @else {
                        $error: true;
                    }
                } @else {
                    $error: true;
                }
                @if ($error) {
                    $r-cfg: null;
                    @if (($responsive-get-original-id == true or $responsive-get-original-id == null) and r-has-parent-id($id)) {
                        $result: r-get($full-key, $default, r-get-parent-id($id));
                    } @else if ($default != null) {
                        $result: $default;
                    } @else {
                        @warn 'Unavailable configuration path "#{$full-key}" for responsive configuraion "#{$id}"';
                    }
                }
            }
        }
    } @else {
        @warn "Unknown responsive configuraion id: #{$id}";
    }
    $responsive-get-nesting-level: ($responsive-get-nesting-level - 1) !global;
    @if ($responsive-get-nesting-level == 0) {
        @if (r-has-config($responsive-get-original-id)) {
            $cid: r-id($responsive-get-original-id);
            $cache-type: 'get';
            @if ($default == $responsive-test-key) {
                $cache-type: 'has';
            }
            $cache-key: $cache-type $cid $full-key;
            $responsive-cache-get: map-merge($responsive-cache-get, ($cache-key: $result)) !global;
        }
        $responsive-get-original-id: null !global;
    }
    @return $result;
}

// Test if given configuration key is available in from responsive config
//
// @param string $key               Configuration key name, multiple level keys are defined as a/b/c
// @param string|boolean|null $id   Responsive configuration id (@see r-id())
// @return boolean
@function r-has($key: null, $id: null) {
    @return (r-get($key, $responsive-test-key, $id) != $responsive-test-key);
}

// Define prefix for responsive configuration keys passed to r-get() / r-has() to simplify code
//
// @param string $prefix
@mixin r-with($prefix) {
    @if (str-slice($prefix, 1, 1) == '/') {
        $prefix: str-slice($prefix, 2);
    }
    @if (str-slice($prefix, -1, 1) == '/') {
        $prefix: str-slice($prefix, 1, -1);
    }
    $current-prefix: $responsive-get-key-prefix;
    $responsive-get-key-prefix: $prefix !global;
    @content;
    $responsive-get-key-prefix: $current-prefix !global;
}

// Check if responsive configuration key prefix is currently used
//
// @return boolean
@function r-have-key-prefix() {
    @return $responsive-get-key-prefix != null;
}

// Get current responsive configuration key prefix
//
// @return string|null
@function r-get-key-prefix() {
    @return $responsive-get-key-prefix;
}

// Check if given information can be treated as responsive configuration key
//
// @param mixed $key                Information to check as a key
// @param boolean $only-if-exists   Only treat given information as a key if it is actually available in responsive configuration
// @return boolean
@function r-is-key($key, $only-if-exists: false) {
    @if (type-of($key) != string or $key == '') {
        @return false;
    }
    @if ((not $only-if-exists) and (str-index($key, '/') != null or r-have-key-prefix())) {
        @return true;
    }
    @if ($only-if-exists) {
        //noinspection CssInvalidFunction
        @return r-is-exists($key);
    } @else {
        @return false;
    }
}

// Check if given responsive configuration key is exists at all
//
// @param string $key   Responsive configuration key to check
// @return boolean
@function r-is-exists($key) {
    @each $id in r-get-ids() {
        @if (r-has($key, $id)) {
            @return true;
        }
    }
    @return false;
}

// Simplification of iteration over available media queries
//
// @param mixed $layout         true to use default layout from configuration
//                              false to disable layout use
//                              string to either specify configuration key of layout to use or explicit shorthand layout
//                              list or map to define explicit layout
// @param string $if-key        Apply media query configuration only if given key is exists in corresponding responsive configuration
// @param boolean $force-mq     true to use media query for default responsive configuration if it is defined
@mixin r-each($layout: true, $if-key: null, $force-mq: false) {
    $current-default-key: $responsive-get-default-key;
    $responsive-get-default-key: $if-key !global;
    @each $id in r-get-ids() {
        @if ($responsive-current-id != null) {
            @if ($responsive-current-id == $id) {
                @content;
            }
        } @else if (not index($responsive-abstract-configurations, $id)) {
            $responsive-current-id: $id !global;
            @if (($if-key == null) or (r-has($if-key))) {
                $l: null;
                @if ($layout == true and map-get($responsive-cache-layout, $id) != null) {
                    $l: map-get($responsive-cache-layout, $id);
                } @else if (type-of($layout) == string) {
                    @if (r-has($layout)) {
                        $l: r-get($layout);
                    } @else {
                        $l: $layout;
                    }
                } @else if (type-of($layout) == list or type-of($layout) == map) {
                    $l: $layout;
                }
                @if ((($responsive-current-id != $responsive-default-id) or $force-mq) and map-get($responsive-cache-media-query, $id) != null) {
                    @include susy-breakpoint($id, false) {
                        @if ($l) {
                            @include with-layout($l, true) {
                                @content;
                            }
                        } @else {
                            @content;
                        }
                    }
                } @else {
                    @if ($l) {
                        @include with-layout($l, true) {
                            @content;
                        }
                    } @else {
                        @content;
                    }
                }
            }
            $responsive-current-id: null !global;
        }
    }
    $responsive-get-default-key: $current-default-key !global;
}

// Version of r-each() with mandatory $if-key
@mixin r-each-if($if-key, $layout: true, $force-mq: false) {
    @include r-each($layout, $if-key, $force-mq) {
        @content;
    }
}

// Initialize $susy and $susy-media based on information from responsive configuration
@mixin responsive-init($default-id: null) {
    @if (not $responsive-is-initialized) {
        @if ($default-id != null) {
            @if ($responsive-default-id != null) {
                @error 'Default responsive configuration is already chosen for "#{$responsive-default-id}", selected again during initialization';
            } @else if (index($responsive-abstract-configurations, $default-id)) {
                @error 'Given default responsive configuration "#{$default-id}" is abstract';
            } @else {
                $responsive-default-id: $default-id !global;
            }
        }
        @each $handler in $responsive-config-handlers {
            @each $id in r-get-ids() {
                $config: call($handler, map-get($responsive-config, $id), $id);
                $responsive-cache-get: () !global;
                @if (type-of($config) == map) {
                    $responsive-config: map-merge($responsive-config, ($id: $config)) !global;
                } @else {
                    @warn 'Responsive configuration handler #{$handler} doesn\'t return configuration map as it should';
                }
            }
        }
        @if (length(r-get-ids()) > 0) {
            @if ($responsive-default-id == null) {
                @warn 'Default responsive configuration is not defined';
            }
            @if (length($susy-media) == 0) {
                $susy-media: () !global;
                @each $id in r-get-ids() {
                    $mq: null;
                    @if (r-has('/media-query', $id)) {
                        $mq: r-get('/media-query', $id);
                        $responsive-cache-media-query: map-merge($responsive-cache-media-query, ($id: $mq)) !global;
                        $susy-media: map-merge($susy-media, ($id: $mq)) !global;
                    }
                    $responsive-cache-layout: map-merge($responsive-cache-layout, ($id: r-get('/layout', (), $id))) !global;
                }
            }
            @if (length($susy) == 0) {
                @if (r-has('/layout') and r-get('/layout') != null) {
                    $susy: r-get('/layout') !global;
                    @include global-box-sizing();
                } @else {
                    @warn 'No default responsive layout is defined';
                }
            }
        }
        $responsive-is-initialized: true !global;
    }
    $responsive-cache-get: () !global;
}

// Determine if responsive module can be used
@function is-responsive() {
    @return (length($responsive-config) > 0 and $responsive-is-initialized);
}

// Responsive configuration handler to simplify definition of Susy layouts
@function responsive-handle-layout($config, $id) {
    @if (not r-has('/layout', $id)) {
        @return $config;
    }
    $layout: r-get('/layout', null, $id);
    @if (type-of($layout) != map) {
        $layout: parse-grid($layout);
    }
    $have-math: map-has-key($layout, math);
    $have-container: map-has-key($layout, container);
    $have-columns: map-has-key($layout, columns);
    $have-gutters: map-has-key($layout, gutters);
    $have-column-width: map-has-key($layout, column-width);
    $static-math: ($have-math and map-get($layout, math) == static) or false;

    // Normalize numeric values
    @each $property in (container, column-width, outer-padding, inner-padding) {
        @if (map-has-key($layout, $property)) {
            $layout: map-merge($layout, ($property: v(map-get($layout, $property))));
        }
    }

    // Convert explicit gutters size into fraction value required by Susy
    @if ($have-gutters) {
        $gutters: map-get($layout, gutters);
        @if (type-of($gutters) == number) {
            @if (unitless($gutters)) {
                @if ($static-math and ($gutters >= 1)) {
                    @warn 'Possible misconfiguration: gutter size for "#{$id}" responsive configuration is more then 1 which may be a sign that it is defined in units. '+
                    'To avoid confusion consider either use u() explicitly or define gutter size in #{current-unit(true)}';
                }
            } @else {
                @if ($have-column-width) {
                    $gutters: v($gutters) / v(map-get($layout, column-width));
                }
            }
            $layout: map-merge($layout, (gutters: $gutters));
        } @else {
            @warn 'Gutter size should be defined as number into "#{$id}" responsive configuration';
        }
    }

    // Determine gutters size by container and column size
    @if ($have-container and $have-columns and $have-column-width and $static-math and not $have-gutters) {
        $container: v(map-get($layout, container));
        $columns: map-get($layout, columns);
        $gutters: ($container - v($columns * map-get($layout, column-width))) / ($columns - 1);
        $gutters: v($gutters / map-get($layout, column-width));
        $layout: map-merge($layout, (gutters: $gutters));
    }

    // Determine complete section width for media breakpoint
    @if ($static-math) {
        $media-query-container: container($layout);
        @if (map-has-key($layout, outer-padding)) {
            $media-query-container: $media-query-container + v(map-get($layout, outer-padding)) * 2;
        }
        @if (map-has-key($layout, inner-padding)) {
            $media-query-container: $media-query-container + v(map-get($layout, inner-padding)) * 2;
        }
        $config: map-merge($config, (media-query-container: $media-query-container));
    }
    $config: map-merge($config, (layout: $layout));
    @return $config;
}

// Responsive configuration handler to simplify definition media queries
@function responsive-handle-media-query($config, $id) {
    @if (not r-has('/media-query', $id)) {
        @return $config;
    }
    $config-ids: r-get-ids();
    $containers: ();
    @each $rid in $config-ids {
        @if (r-has('/media-query-container', $rid)) {
            $containers: map-merge($containers, ($rid: r-get('/media-query-container', null, $rid)));
        }
    }
    $query: r-get('/media-query', null, $id);
    @if (type-of($query) == map) {
        @each $key, $value in $query {
            @if (index($config-ids, $value)) {
                @if (map-has-key($containers, $value)) {
                    $value: v(map-get($containers, $value));
                    @if ($key == max-width) {
                        $value: $value - v(1px);
                    }
                    $query: map-merge($query, ($key: $value));
                } @else {
                    @warn 'Responsive configuration identifier "#{$value}" is used for media query parameter "#{$key}" into responsive configuration "#{$id}", ' +
                    'but it can\'t be used as media query breakpoint because target responsive configuration have no fixed container size. ' +
                    'You can set "media-query-container" key at "#{$value}" to let it to be used as media query breakpoint';
                }
            } @else if (type-of($value) == number and unitless($value)) {
                $query: map-merge($query, ($key: v($value)));
            }
        }
    } @else if (type-of($query) == list) {
        $index: 1;
        @each $value in $query {
            @if (index($config-ids, $value)) {
                @if (map-has-key($containers, $value)) {
                    $value: v(map-get($containers, $value));
                    @if ($index == length($query)) {
                        $value: $value - v(1px);
                    }
                    $query: set-nth($query, $index, $value);
                } @else {
                    @warn 'Responsive configuration identifier "#{$value}" is used as media query breakpoint into responsive configuration "#{$id}", ' +
                    'but it can\'t be used here because target responsive configuration have no fixed container size. ' +
                    'You can set "media-query-container" key at "#{$value}" to let it to be used as media query breakpoint';
                }
            } @else if (type-of($value) == number and unitless($value)) {
                $query: set-nth($query, $index, v($value));
            }
            $index: $index + 1;
        }
    } @else if (type-of($query) == string) {
        @if (index($config-ids, $query)) {
            @if (map-has-key($containers, $query)) {
                $query: v(map-get($containers, $query));
            } @else {
                @warn 'Responsive configuration identifier "#{$query}" is used as media query breakpoint into responsive configuration "#{$id}", ' +
                    'but it can\'t be used here because target responsive configuration have no fixed container size. ' +
                    'You can set "media-query-container" key at "#{$query}" to let it to be used as media query breakpoint';
            }
        } @else if (type-of($query) == number and unitless($query)) {
            $query: v($query);
        }
    }

    $query: susy-parse-media($query);
    $config: map-merge($config, (media-query: $query));
    @return $config;
}
